

<h1> Here Be The Rules </h1>
<p>  The digits must be all different. Then, in turn, the players try to guess their opponent's number who gives the number of matches.<br>
     If the matching digits are in their right positions, they are "bulls", if in different positions, they are "cows". Example:<br>
    •	Secret number: 4271<br>
    •	Opponent's try: 1234<br>
    •	Answer: 1 bull and 2 cows. (The bull is "2", the cows are "4" and "1".)<br>
    The first one to reveal the other's secret number wins the game. As the first player has a logical advantage, the game can be balanced<br>
    over multiple games by alternating the right to go first, or over a single game by granting the second player an equal number of guesses,<br>
    possibly resulting in a tie.</p>

<%= link_to 'Enter game', '/games/index' %>
