<script>
 $(function() {
   var pusher = new Pusher('05353e523f10cfd5d040');
   var channel = pusher.subscribe('user_<%= current_user.id %>_channel');
   channel.bind('challenge', function(data) {
    location.reload();
   })
   channel.bind('secret', function() {
     window.location.href = "http://localhost:3000/games/set_secret"
   })
   var users_channel = pusher.subscribe("users");
    users_channel.bind('refresh_users', function(data) {
    location.reload();
   })
 });
</script>

<% if $invites[current_user.user_name] == nil %>
  Other users currently online:
  <ol>
    <% $users.each do |user| %>
      <% if user != current_user.user_name %>
        <li>
          <%= user %>
        </li>
      <% end %>
    <% end %>
  </ol><br/>
  <form action='/games/challenge' method='post'>
    <input id="challengee" type='text' name='challengee'>
    <input id="send_challengee" type='submit' value='Send challenge'>
  </form>

<% else %>
  <p><strong><em><%= $invites[current_user.user_name] %></em></strong> has challenged you to play a game. Would you accept?</p>
  <%= button_to 'Accept challenge', '/games/accept_challenge', method: :post %>
<% end %>
