<script>
  $(function() {
     var pusher = new Pusher('05353e523f10cfd5d040');
     var channel = pusher.subscribe('to_game');
     channel.bind('start_game', function(data) {
       window.location.href="http://localhost:3000/games/new"
     })
  });
</script>

<p><%= current_user.user_name %>,</p>

<% if @user_secret == nil %>
  <form id="key_form" action='/games/save_secret' method='post'>
    <input id="key" type='text' name='key'>
    <input id="key_button" type='submit' value='Enter secret key'>
  </form>
  <div id="message"></div>
<% else %>
  <p>Please wait for opponent to enter secret...</p>
<% end %>
