<!-- <script>
  $("#key_button").click(function(event){
      event.preventDefault();
      var secret = $('#key').val();
      var message = {key: secret };
      // $.post('/games/save_secret', {key: secret }, function() {
      //   if (secret) {
      //     $('#key_form').hide();
      //     $('#message').text('Please wait for another player')
      //   };
      // });

      $.ajax({
      url: '/games/save_secret',
      type: 'POST',
      contentType: "application/json",
      data:JSON.stringify(message),
      success: function(stuff){
          if (secret) {
            $('#key_form').hide();
            $('#message').text('Please wait for another player')
          };
      },
      error: function(stuff) {
        // console.log(data)
        console.log("error happened");
      }
      });

  });

</script> -->

<p><%= current_user.user_name %>,</p>

<% if @user_secret == nil %>
  <form id="key_form" action='/games/save_secret' method='post'>
    <input id="key" type='text' name='key'>
    <input id="key_button" type='submit' value='Enter secret key'>
  </form>
  <div id="message"></div>
<% else %>
  <p>Please wait for opponent to enter secret...</p>
<% end %>
